body {
    box-sizing: border-box;
    margin: 0;
    background-image: url("https://www.esl-one.com/archive/www.esl-one.com/uploads/pics/20160710_Patrick-Strack_ESLOneCologne16_070A4536.jpg");
    background-size: cover;
    background-position: top;
    
}
#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px white;
}
.teams {
    size: 4rem;
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    color:blue;
    text-shadow: 1px 1px white;
}
label {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
span {
    background-color: black;
    color: white;
    margin-left: 15px;
    padding: 2px;
}